{% extends 'base.html' %}

{% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
{% endblock %}
{% block title %}SoulBeats{% endblock %}
{% block bodyStyle %}{% endblock %}
{% block body %}
      <header>
    <!-- Navbar -->
    <nav class="navbar fixed-top">
        <div class="container-fluid">
        <!-- Navbar brand -->
          <div class="row">
              <div class="col-sm-3">
                <a class="navbar-brand" id="title-name" style="font-family: 'Julee', cursive;font-size: larger">
                  <img src="{{ url_for('static',filename="img/logo.jpg") }}" height="30" alt="" loading="lazy" style="margin-top: -3px;" />SoulBeats
                </a>
              </div>
              <a href="https://www.usuarios-online.com/en/" data-id="363b122c528f54df4a0446b6bab05515" data-type="default" target="_blank" id="uox_link" style="position: fixed;left: 25%">users online</a>
              <div class="col-sm-9">
                          <div class="input-group">
                                  <div class="form-outline">
                                    <input id="search-input" type="search" id="form1" class="form-control" onkeydown = "if (event.keyCode === 13)document.getElementById('search-button').click()" />
                                    <label class="form-label" for="form1">Search</label>
                                  </div>
                                  <button id="search-button" type="button" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                  </button>
                          </div>
                      </div>
              <div class="form-check form-switch">
                  <input class="form-check-input" style="float: right" type="checkbox" id="flexSwitchCheckChecked" onchange="alert_me()" checked/>
              </div>
            </div>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
          <div class="row">
            <span style="padding-top: 15%"></span>
          {% if message %}
            <h3>showing results for {{ message }}</h3><br>
          {% endif %}
              {% for i,j in links.items() %}

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      {% if 'Movies' in j or 'Shows' in j or 'Actors' in j %}
                        {% else %}
                        {% set link = i | x %}
                        {% set link2 = i | x2 %}
                            {% if link %}
                                <img src="{{ link }}" class="img-fluid lazy" onerror="this.onerror=null;this.src='{{ link2 }}'" />
                            {% endif %}
                          <a href="{{ i }}">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        {% endif %}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ i }}">{{ j | m | safe }}</a></h5>
                    <p class="card-text">
                        {#
                        {% set info =  i | image_id | get_info %}
                        {% if info %}
                            {% for x,y in info.items() %}
                        {{ x }} - {{ y }}
                            {% endfor %}
                        {% endif  %}
                           #}
                    </p>
                    <!--a href="#!" class="btn btn-primary"></a-->
                  </div>
                </div>
                </div>
              {% endfor %}
          </div>
    </div>
  </main>
  <!--Main layout-->
{% endblock %}
